form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  & * {
    padding: 1em;
  }
  & [type="submit"] {
    margin: 1em 0;
  }
}
#errorText {
  color: red;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}