form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  & * {
    padding: 1em;
  }
  & input {
    margin: 1.5em auto;
  }
  & [type="submit"] {
    margin: 1em 0;
  }
}
